setenv kernel_version
setenv root /dev/mmcblk0p1
setenv bootargs console=${console} root=${root} rootwait panic=10
echo Loading ${prefix}uImage-${kernel_version} from ${devtype} ${devnum}:${bootpart} at ${kernel_addr_r}
load ${devtype} ${devnum}:${bootpart} ${kernel_addr_r} ${prefix}vmlinuz-${kernel_version}
if test -e ${devtype} ${devnum}:${bootpart} ${prefix}dtbs/${kernel_version}/${fdtfile}; then
  echo Loading ${prefix}dtbs/${kernel_version}/${fdtfile} from ${devtype} ${devnum}:${bootpart} at ${fdt_addr_r}
  load ${devtype} ${devnum}:${bootpart} ${fdt_addr_r} ${prefix}dtbs/${kernel_version}/${fdtfile}
  bootz ${kernel_addr_r} - ${fdt_addr_r}
else 
  setenv bootm_boot_mode sec;
  echo Loading ${prefix}script.bin from ${devtype} ${devnum}:${bootpart} at ${fdt_addr_r}
  load ${devtype} ${devnum}:${bootpart} ${fdt_addr_r} ${prefix}script.bin
  bootz ${kernel_addr_r}
fi
